<div class="container-fluid" id="home">
<% if (locals.reciever) { %>
	<div id="messages">
		<% messages.forEach( function (message) { %>
			<div class="<%= message.reciever == session.user.id ? "other" : "local" %> floating"><%= message.message %></div>
		<% }) %>
	</div>
	<h2 style="pointer-events: none; position: fixed; top: 0; text-align: center; width: 100%; z-index: 1000;"> <%= reciever.first_name %> </h2>
	<form class="floating" action="" id="chat">
		<input class="form-control" id="m" autocomplete="off"/>
		<input type="button" class="btn" value="Send" id="submit">
	</form>
	<script>
		var messagebox = document.getElementById('messages');
		$(document).on('keypress', 'input,select', function (e) {
				if (e.which == 13) {
					e.preventDefault();
					document.getElementById("submit").click();
				}
			});
		
		
		socket.emit('init', <%= chat %>);
		messagebox.scrollTop = messagebox.scrollHeight;
		socket.on('getMsg', function (cont) {
			console.log(cont.reciever);
			messagebox.innerHTML += "<div class='" + ((cont.reciever == <%= session.user.id %>) ? "other" : "local") + " floating'>" + cont.msg.replace(/</g, "&lt") + "</div>";
			messagebox.scrollTop = messagebox.scrollHeight;
		});

		$("#submit").click(function () {
			socket.emit('sendMsg', {msg: $("#m").val(), reciever: <%= reciever.id %>, chat: <%= chat %>});
			$("#m").val('');
			return false;
		});
	</script>
<% } else { %>
	<script>
		function block(blocker, blockie)
		{
			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = function () {
				if (this.readyState == 4)
				{
					console.log(this.responseText);
				}
			};

			xhttp.open("GET", "./block" + "?blocker=" + blocker + "&blockie=" + blockie);
			xhttp.send();

		}
	</script>
	<% chats.forEach( function (chat) { %>
	<a href=<%= "chat?reciever=" + chat.id + "" %>>
		<div class="btn floating" style="text-align: center; margin: 80px 1px 80px 4%; width: 80% !important;">
			<%= chat.first_name + " " + chat.last_name %>
		</div>
	</a>
	<a onclick="block(<%= session.user.id %>, <%= chat.id %>)">
		<div class="btn floating" style="background-color: black !important; text-align: center; margin: 80px 4% 80px 1px; width: 10% !important;">
			<% if chat.blocked { %>
				block
			<% } else { %>
				unblock
			<% } %>
		</div>
	</a>
	<% }) %>
<% } %>
</div>