<div class="container-fluid" id="home">
<script>
	setInterval(function () {
		post('/getOnline', {}).done(function(data) {
			onlineusers = JSON.parse(data);
			icons = document.querySelectorAll(".onlineicon");
			icons.forEach(icon => {
				if (onlineusers.find(a => {return a == icon.id}))
					icon.style = "background-color: lightgreen;";
				else
					icon.style = "background-color: darkgrey;";
			});
		});
	}, 1000);
</script>
<% if (locals.reciever) { %>
	<% if (chat.active == 0 && chat.user1 == session.user.id) { %>
		<h1> Request has been sent. Waiting for other user to confirm </h1>
	<% } else if (chat.active == 0 && chat.user2 == session.user.id) { %>
		<script>location.replace('/activateChat?chat=' + <%= chat.id %>)</script>
	<% } else {%>
	<div id="messages">
		<% messages.forEach( function (message) { %>
			<div class="<%= message.reciever == session.user.id ? "other" : "local" %> floating"><%= message.message %></div>
		<% }) %>
	</div>
	<h2 style="display: flex; pointer-events: none; position: fixed; top: 0; right: 37%; text-align: center; z-index: 1000;"> <%= reciever.first_name %><div style="width: 20px; margin-left: 20px; padding-top: 10px;"><div class="onlineicon" id="<%= reciever.id %>"></div></div></h2>
	<form class="floating" action="" id="chat">
		<input class="form-control" id="m" autocomplete="off" maxlength="499"/>
		<input type="button" class="btn" value="Send" id="submit">
	</form>
	<script>
		var messagebox = document.getElementById('messages');
		$(document).on('keypress', 'input,select', function (e) {
				if (e.which == 13) {
					e.preventDefault();
					document.getElementById("submit").click();
				}
			});
		
		
		socket.emit('init', <%= chat.id %>);
		messagebox.scrollTop = messagebox.scrollHeight;
		socket.on('getMsg', function (cont) {
			messagebox.innerHTML += "<div class='" + ((cont.reciever == <%= session.user.id %>) ? "other" : "local") + " floating'>" + cont.msg.replace(/</g, "&lt") + "</div>";
			messagebox.scrollTop = messagebox.scrollHeight;
		});

		$("#submit").click(function () {
			<% if (locals.session.user) { %>
				socket.emit('sendMsg', {msg: $("#m").val(), reciever: <%= reciever.id %>, sender: <%= session.user.id %>, chat: <%= chat.id %>, name: "<%=session.user.first_name%>"});
				$("#m").val('');
				return false;
			<% } else { %>
				$("#m").val('');
				return false;
			<% } %>
		});
	</script>
	<% } %>
<% } else { %>
	<script>
		function block(blocker, blockie)
		{
			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = function () {
				if (this.readyState == 4)
				{
					console.log(this.responseText);
				}
				location.reload()
			};

			xhttp.open("GET", "./block" + "?blocker=" + blocker + "&blockie=" + blockie);
			xhttp.send();

		}

		function unblock(blocker, blockie)
		{
			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = function () {
				if (this.readyState == 4)
				{
					console.log(this.responseText);
				}
				location.reload()
			};

			xhttp.open("GET", "./unblock" + "?blocker=" + blocker + "&blockie=" + blockie);
			xhttp.send();

		}
	</script>
	<% chats.forEach( function (chat) { %>
	<div class="row mb-5"></div>
	<div class="row">
		<div class="col-3" align="center">
			<div style="max-width: 40px;">
				<div class="onlineicon" id="<%= chat.id %>"></div>
			</div>
		</div>
		<div class="col-5">
		<a href=<%= "chat?reciever=" + chat.id + "" %> <%- chat.blocker? 'style="pointer-events: none;"' : "" %>>
			<div class="btn floating" style="text-align: center; width: 100% !important; margin: 0;">
				<%= chat.first_name + " " + chat.last_name + ((chat.active == 0 && chat.user2 == session.user.id) ? (" [Confirm]") : ("")) %>
			</div>
		</a>
		</div>
		<div class="col-3" align="center">
		<div style="max-width: 40px;">
		<a onclick="<%= (chat.blocker?"un":"") %>block(<%= session.user.id %>, <%= chat.id %>)">
				<div title="block/unblock" class="blockicon" style=<%- '"' + (chat.blocker?"background-color: black !important; border-color: black !important;":"") + 'text-align: center;"' %>>
				</div>
		</a>
		</div>
		</div>
	</div>
	<% }) %>
<% } %>
</div>