<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Matcha</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script> var post = $.post; </script>
		<% if (locals.session) {%>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			socket.emit("con", <%-session.user.id%>);

			function deleteNotification(id) {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function ()
				{
					if (this.readyState==4 && this.status == 200)
					{
					}
				}
				xhttp.open("GET", "deleteNotification?id=" + id);
				xhttp.send();
			}

			window.onload = function ()
			{
				setInterval(function () {
					post('/getNotifications', {user: <%-session.user.id%>}).done(function(data) {
						notifications = JSON.parse(data);
						document.getElementById("dropdownMenuButton").innerHTML = "Notifications" + (notifications.length ? "("+notifications.length+")" : "");
						var note = document.getElementById("notifications");
						note.innerHTML = "";
						notifications.forEach(n => {
							note.innerHTML += "<a onclick=\"deleteNotification("+n.id+")\">" + n.message.replace(/</g, "&lt") + "<hr></a>";
						});
					});
				}, 1000);
			}
		</script>
		<% } %>
	</head>
	<nav class="navtop navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="./">Matcha</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li <%- title != 'Home' ? 'class="nav-item"' : 'class="nav-item active"' %>><a class="nav-link" href="./">Home</a></li>
			<% if (locals.session) { %>
				<% var ref = 'href="./profile?user=' + session.user.id + '"' %>
				<li <%- title != 'Profile' ? 'class="nav-item"' : 'class="nav-item active"' %>><a class="nav-link" <%- ref %>><%= session.user.first_name %></a></li>
				<li class="nav-item"><a class="nav-link" href="./logout">Logout</a></li>
				<li <%- title != 'Chat' ? 'class="nav-item"' : 'class="nav-item active"' %>><a class="nav-link" href="./chat">Chat</a></li>
				<li class="nav-item">
					<div class="dropdown">
						<div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 7px">
							Notifications
						</div>
						<div class="dropdown-menu floating" aria-labelledby="dropdownMenuButton" id="notifications">
						</div>
					</div>
					<div id="notify" style="background-color: red; border-radius: 50%; width: 10px; height: 10px; display: none;"></div>
				</li>
			<% } else { %>
				<li <%- title != 'Login' ? 'class="nav-item"' : 'class="nav-item active"' %>><a class="nav-link" href="./login">Log In</a></li>
				<li <%- title != 'Signup' ? 'class="nav-item"' : 'class="nav-item active"' %>><a class="nav-link" href="./signup">Sign Up</a></li>
			<% } %>
		</ul>
		</div>
	</nav>