<div class="container-fluid" style ="margin-top: 80px;">
	<% const genset = { Male: 0, Female: 1, Other: 2, 0: 'Male', 1: 'Female', 2: 'Other' } %>
	<% const prefset = { Heterosexual: 0, Homosexual: 1, Bisexual: 2, Other: 3, 0: 'Heterosexual', 1: 'Homosexual', 2: 'Bisexual', 3: 'Other' } %>
	<div class="row mb-2"></div>
	<div class="row">
		<div class="col-lg-3">
		<div class="container floating-change">
			<div class="profile-pic-container floating" id="pp-container"></div>
			<script>
				document.getElementById('pp-container').style.backgroundImage = <%- '\'URL("' + (user.profilepic ? user.profilepic : 'https://png.pngtree.com/svg/20161013/dpi_user_default_avatar_116868.png')+'")\'' %>;
			</script>
			<% if (locals.session && user.id == session.user.id) { %>
				<form action="addprofilepicture" method="post" encType="multipart/form-data">
					<div class="custom-file">
						<input type="file" class="custom-file-input" accepts="image/*" id="profileupload" name="profilepic" required>
						<label class="custom-file-label" for="profileupload">Choose file...</label>
					</div>
					<div class="form-group">
						<button type="submit" id="profsub" class="btn btn-primary hidden">Change Profile Picture</button>
					</div>
				</form>
			<% } %>
			<div class="dropdown-divider"></div>
			<h1 class="display-5"><%= user.first_name + " " + user.last_name %></h1>
			<p>Gender: <%= genset[user.gender] %></p>
			<p>Sexuality: <%= prefset[user.preference] %></p>
			<p>Age: <%= user.age %></p>
			<% if (locals.session && user.id == session.user.id) { %>
				<h3>Account</h3>
				<% include ../partials/error %>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Change Email
					</button>
					<form class="dropdown-menu floating" aria-labelledby="dropdownMenuButton" style="padding: 10px 10px; position: absolute !important; width: 250px !important" action="change" method="POST">
						<div class="form-group">
							<input name="email" class="form-control" placeholder="New Email" type="email" value="<%= user.email %>" required> 
						</div>
						<div class="form-group">
							<button class="btn dropdown-item form-control" type="submit">Change</button>
						</div>
					</form>
					</div>
				<div class="dropdown-divider"></div>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Change Name
					</button>
					<form class="dropdown-menu floating" aria-labelledby="dropdownMenuButton" style="padding: 10px 10px; position: absolute !important; width: 250px !important" action="change" method="POST">
						<div class="form-group">
							<input name="first_name" class="form-control" placeholder="First Name" type="text" value="<%= user.first_name %>" required>
						</div>
						<div class="form-group">
							<input name="last_name" class="form-control" placeholder="Last Name" type="text" value="<%= user.last_name %>" required>
						</div>
						<div class="form-group">
							<button class="btn dropdown-item form-control" type="submit">Change</button>
						</div>
					</form>
				</div>
				<div class="dropdown-divider"></div>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Change Password
					</button>
					<form class="dropdown-menu floating" aria-labelledby="dropdownMenuButton" style="padding: 10px 10px; position: absolute !important; width: 250px !important" action="change" method="POST">
						<div class="form-group">
							<input name="old_password" class="form-control" placeholder="Old Password" type="password" required>
						</div>
						<div class="dropdown-divider"></div>
						<div class="form-group">
							<input name="new_password" class="form-control" placeholder="New password" type="password" required> 
						</div>
						<div class="form-group">
							<input name="confirm" class="form-control" placeholder="Confirm" type="password" required> 
						</div>
						<div class="form-group">
							<button class="btn dropdown-item form-control" type="submit">Change</button>
						</div>
					</form>
				</div>
				<div class="dropdown-divider"></div>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Gender & Sexuality
					</button>
					<form class="dropdown-menu floating" aria-labelledby="dropdownMenuButton" style="padding: 10px 10px; position: absolute !important; width: 250px !important" action="change" method="POST">
						<div class="form-group">
							<label for="gender">Gender</label>
							<select class="form-control" id="gender" name="gender">
								<option <%- user.gender == genset['Male'] ? 'selected="selected"' : "" %>>Male</option>
								<option <%- user.gender == genset['Female'] ? 'selected="selected"' : "" %>>Female</option>
								<option <%- user.gender == genset['Other'] ? 'selected="selected"' : "" %>>Other</option>
							</select>
						</div>
						<div class="form-group">
							<label for="preference">Preference</label>
							<select class="form-control" id="preference" name="preference">
									<option <%- (user.preference == prefset['Bi-sexual']) ? 'selected="selected"' : "" %>>Bi-Sexual</option>
									<option <%- (user.preference == prefset['Heterosexual']) ? 'selected="selected"' : "" %>>Heterosexual</option>
									<option <%- (user.preference == prefset['Homosexual']) ? 'selected="selected"' : "" %>>Homosexual</option>
									<option <%- (user.preference == prefset['Other']) ? 'selected="selected"' : "" %>>Other</option>
							</select>
						</div>
						<div class="form-group">
							<button class="btn dropdown-item form-control" type="submit">Change</button>
						</div>
					</form>
				</div>
				<% } %>
				<div class="divider"></div>
			</div>
		</div>




		<div class="col-lg-5">
			<div class="container floating-change">
				<% if (locals.session && user.id == session.user.id) { %>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Add Interest
						</button>
						<ul class="dropdown-menu">
							<% cats.forEach(cat => { %>
								<h3 style="text-align: center;"><%= cat.name %></h3>
								<li class="dropdown-divider"></li>
								<% cat.interests.forEach(int => { %>
									<li class="dropdown-item"><a href=<%- "addinterest?interest=" + escape(int.name) %>><%= int.name %></a></li>
								<% }); %>
							</li>
							<% }); %>
						</ul>
					</div>
				<% } %>
				<h3>Interests</h3>
				<ul>
					<% user.interests.forEach(interest => { %>
						<li>
							<%= interest %>
							<% if (locals.session && user.id == session.user.id) { %>
								<a href=<%- '"removeinterest?remove=' + interest + '"' %> style="color: rgba(0, 0, 0, 0.1)"> X</a>
							<% } %>
						</li>
					<% }); %>
				</ul>
				<div class="divider"></div>
				</div>
				<div class="container floating-change">
				<h3 style="text-align: center;">About</h3>
				<% if (locals.session && user.id == session.user.id) { %>
					<form action="updatebio" method="POST">
						<div class="form-group">
							<textarea class="form-control" id="bio" name="bio"><%= user.bio %></textarea>
						</div>
						<button class="btn" type="submit">Submit</button>
					</form>
				<% } else { %>
					<p style="margin: auto !important;"><%= user.bio %></p>
				<% } %>
				<div class="divider"></div>
			</div>
		</div>




		<div class="col-lg-4">
			<div class="container floating-change" id="pictures">
				<% if (locals.session && user.id == session.user.id) { %>
					<form action="addpicture" method="post" encType="multipart/form-data">
				<% } %>
				<img class="display-image floating" id="img1" style="margin-top: 20px !important;" src=<%- user.pic1 ? user.pic1 : "http://www.alkantara.pt/wp-content/themes/bloc/assets/img/blank.png" %>>
				<% if (locals.session && user.id == session.user.id) { %>
				<div class="custom-file">
					<input type="file" class="custom-file-input" accepts="image/*" id="1upload" name="pic1">
					<label class="custom-file-label" for="1upload">Choose file...</label>
				</div>
				<% } %>
				<img class="display-image floating" id="img2" style="margin-top: 20px !important;" src=<%- user.pic2 ? user.pic2 : "http://www.alkantara.pt/wp-content/themes/bloc/assets/img/blank.png" %>>
				<% if (locals.session && user.id == session.user.id) { %>
				<div class="custom-file">
					<input type="file" class="custom-file-input" accepts="image/*" id="2upload" name="pic2">
					<label class="custom-file-label" for="2upload">Choose file...</label>
				</div>
				<% } %>
				<img class="display-image floating" id="img3" style="margin-top: 20px !important;" src=<%- user.pic3 ? user.pic3 : "http://www.alkantara.pt/wp-content/themes/bloc/assets/img/blank.png" %>>
				<% if (locals.session && user.id == session.user.id) { %>
				<div class="custom-file">
					<input type="file" class="custom-file-input" accepts="image/*" id="3upload" name="pic3">
					<label class="custom-file-label" for="3upload">Choose file...</label>
				</div>
				<% } %>
				<img class="display-image floating" id="img4" style="margin-top: 20px !important;" src=<%- user.pic4 ? user.pic4 : "http://www.alkantara.pt/wp-content/themes/bloc/assets/img/blank.png" %>>
				<% if (locals.session && user.id == session.user.id) { %>
				<div class="custom-file">
					<input type="file" class="custom-file-input" accepts="image/*" id="4upload" name="pic4">
					<label class="custom-file-label" for="4upload">Choose file...</label>
				</div>
				<div class="form-group">
					<button type="submit" id="sub" class="btn btn-primary hidden">Upload New Pictures</button>
				</div>
				</form>
				<script>

					function logimage(e)
					{
						let file = null;
					
						for (let i = 0; i < e.length; i++) {
							if (e[i].type.match(/^image\//)) {
							file = e[i];
							break;
							}
						}
					
						if (file !== null) {
							var reader = new FileReader();
							reader.readAsDataURL(file);
							reader.onload = function () {
								var str = reader.result;
								document.getElementById("profsub").click();
							};
							reader.onerror = function (error) {
								console.log('Error: ', error);
							};
						}
					}

					function logsecondary(e, id)
					{
						let file = null;
					
						for (let i = 0; i < e.length; i++) {
							if (e[i].type.match(/^image\//)) {
							file = e[i];
							break;
							}
						}
					
						if (file !== null) {
							var reader = new FileReader();
							reader.readAsDataURL(file);
							reader.onload = function () {
								var str = reader.result;
								document.getElementById("sub").click();
							};
							reader.onerror = function (error) {
								console.log('Error: ', error);
							};
						}
					}

					document.getElementById('profileupload').addEventListener('change', e => logimage(e.target.files));
					document.getElementById('1upload').addEventListener('change', e => logsecondary(e.target.files, "img1"));
					document.getElementById('2upload').addEventListener('change', e => logsecondary(e.target.files, "img2"));
					document.getElementById('3upload').addEventListener('change', e => logsecondary(e.target.files, "img3"));
					document.getElementById('4upload').addEventListener('change', e => logsecondary(e.target.files, "img4"));

				</script>
				<% } %>
			</div>
		</div>
	</div>
</div>
<script>
	document.body.style = <%- (user.pic1 ? "'background-image: url("+user.pic1+");" : "'background-color: rgb(" + (150 + Math.random() * 25) + "," + (150 + Math.random() * 25) + "," + (150 + Math.random() * 25) + ") !important;") + " background-position: center; background-repeat: repeat;'" %>
</script>