<div class="container floating" id="holder">
	<h1 style="text-align: center;">Sign Up</h1>
	<% include ../partials/error %>
	<form method="POST" action="signup">
		<div class="form-group">
			<input type="email" class="form-control" id="email" name="email" placeholder="User@example.com" <%- locals.current ? ('value=' + current.email) : 'value=""'; %> >
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" <%- locals.current ? ('value=' + current.first_name) : 'value=""'; %> >
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" <%- locals.current ? ('value=' + current.last_name) : 'value=""'; %> >
		</div>
		<div class="form-group">
			<label>Birthdate</label>
			<input type="date" min="0" class="form-control" id="age" name="age" placeholder="birthdate" <%- locals.current ? ('value=' + current.age) : 'value=""'; %> >
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="conf" name="confirm" placeholder="Confirm Password">
		</div>
		<div class="form-group">
			<label for="gender">Gender</label>
			<select class="form-control" id="gender" name="gender">
				<option <%- (locals.current && current.gender == 'Male') ? 'selected="selected"' : "" %>>Male</option>
				<option <%- (locals.current && current.gender == 'Female') ? 'selected="selected"' : "" %>>Female</option>
			</select>
		</div>
		<div class="form-group">
			<label for="preference">Preference</label>
			<select class="form-control" id="preference" name="preference">
					<option <%- (locals.current && current.preference == 'Bi-sexual') ? 'selected="selected"' : "" %>>Bi-Sexual</option>
					<option <%- (locals.current && current.preference == 'Heterosexual') ? 'selected="selected"' : "" %>>Heterosexual</option>
					<option <%- (locals.current && current.preference == 'Homosexual') ? 'selected="selected"' : "" %>>Homosexual</option>
			</select>
		</div>
		<div class="form-group">
			You must be 18 to use this site.
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<a href="./login">Or Log In</a>
	</form>
	<script type="text/javascript" src="control/addinterest.js"></script>
</div>